/* box-sizing reset */
html {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}


*{
    line-height: normal !important;
}

/* General Styles */
html, body {
  height: 100%;
}

body{
  background-color: #E8E8E8; 
  color: #000;
  text-align: center;
}

h1 {
  margin: 0 0;
  padding: .1em .1em;
}

ul {
  list-style: none;
  margin: auto;
  padding: 0 0;
  width: 100%;
}

li {
  display: inline-block;
  padding: 0 4em;
  min-width: 250px;
  width: 40%;
}


/* Header */
header {
  position:relative;
  background-color: #B10000;
  width: 100%;
  z-index: 1;
} 

#title-logo {
  height: 50px;
}

#title-logo h1 {
  color: #FFF;
  font-size: 2.5em;
  font-weight: 300;
  padding: 0 0;
}

/* Hat Sections */
#main-section-container{
  background-color: #FFF;
  width: 100%;
  top: 50px;
  bottom: 10px;
  position:absolute;
}

section {
  background-color: #DDD;
  width: 50%;
  height: 100%;
  overflow:auto;
}

/* Hat Entry Section */
#hat-entry {
  float: left
}

#hat-entry form {
  margin: auto;
  margin-top: 20%;
  overflow:auto;
  margin-left: 10%;
}

#hat-entry-form input, #hat-entry-form button {
  float:left;
  vertical-align: middle;
  padding-top: .5em;
  padding-bottom: .5em;
  font-size: 2em;
  border:none;
}

#hat-text-input {
  background-color: #888;
  width :80%;
  padding-left: .2em;
  padding-right: .2em;
}

#hat-text-input:focus {
  background-color: #FFF;
  outline: none;
}

#hat-text-submit {
  width: 10%;
  background-color: #B10000;
  color: #FFF;
}

#hat-text-submit:focus {
  outline: none;
}
/* Hat Drawing */

/* Hat Contents Section */
#hat-contents {
  background-color: #EF9393;
  box-shadow: -3px 0 5px #7A7A7A;
  float: right;
  font-size: 2em;
  text-align: left;
}

.content-item {
  padding: .5em .5em;
  margin: .1em .1em;
  background-color: #FFF;
  border-radius: 0.2em;
  border: 2px solid #EF9393;
}

.content-item:hover {
  background-color: #EF9393;
  border: 2px solid #FFF;
  color: #FFF;
}

/* Footer */
footer {
  background-color: #B10000;
  bottom: 0;
  color: #FFF;
  left: 0;
  position: fixed;
  width: 100%;
  min-height: 20px;
} 
