/* box-sizing reset */
html {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* General Styles */
html, body {
  height: 100%;
}

body{
  background-color: #E8E8E8; 
  color: #000;
  text-align: center;
}

h1 {
  margin: 0 0;
  padding: .1em .1em;
}

ul {
  list-style: none;
  margin: auto;
  padding: 0 0;
  width: 100%;
}

li {
  display: inline-block;
  min-width: 250px;
  width: 40%;
  padding: 0 4em;
}


/* Header */
header {
  background-color: #B10000;
} 

#main-title h1 {
  color: #FFF;
  font-size: 3em;
  font-weight: 300;
  padding: 0 0;
}

/* Hat Sections */
section {

}

/* Hat Entry Section */

/* Hat Drawing */

/* Hat Contents Section */

/* Footer */
footer {
  background-color: #B10000;
  bottom: 0;
  color: #FFF;
  position: absolute;
  width: 100%;
} 
